@model TaskManagementSystem.Models.ViewModels.TaskViewModel

@{
    ViewBag.Title = "CreateTask";
}

<h2>CreateTask</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()<div class="form-horizontal">
        <hr />
        @{
            if (Model != null)
            {
                <div style="margin:10px; color:red; font-weight:bold;">@Model.ErrorMessage</div>
            }
        }
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", style = "max-width: 100%;" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>

        <div class="form-group" style="width: 100%;">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", style = "max-width: 100%; height: 200px;" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<br />
<br />
<div>
    @Html.ActionLink("Back to List", "TaskList")
</div>
