@model IEnumerable<TaskManagementSystem.Models.ViewModels.TaskViewModel>
@{
    ViewBag.Title = "Admin Dashboard - All Tasks";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="fw-bold">Admin Dashboard - All Tasks</h2>
        @Html.ActionLink("Your Task List", "TaskList", "Task", null, new { @class = "btn btn-dark btn-md" })
    </div>
    <hr>

    @Html.ActionLink("Create New Task To Other", "CreateTask", null, new { @class = "btn btn-primary btn-md mb-3" })

    <div class="table-responsive">
        <table class="table table-hover table-bordered text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th style="width: 6%;">Task ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Due Date</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Username</th>
                    <th style="width: 15%;">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var task in Model)
                    {
                        <tr>
                            <td>@task.TaskId</td>
                            <td>@task.Title</td>
                            <td>@task.Description</td>
                            <td>@task.DueDate</td>

                            @if (task.TaskPriorityName == "High")
                            {
                                <td style="background-color: #cb4335; color: white; ">@task.TaskPriorityName</td>
                            }
                            else if (task.TaskPriorityName == "Medium")
                            {
                                <td style="background-color: #e67e22; color: white; ">@task.TaskPriorityName</td>
                            }
                            else
                            {
                                <td style="background-color: #27ae60; color: white; ">@task.TaskPriorityName</td>
                            }


                            @if (task.TaskStatusName == "Completed")
                            {
                                <td style="background-color: #3498db; color: #fff;">@task.TaskStatusName</td>
                            }
                            else if (task.TaskStatusName == "Pending")
                            {
                                <td style="background-color: Yellow; ">@task.TaskStatusName</td>
                            }
                            else if (task.TaskStatusName == "In Progress")
                            {
                                <td style="background-color: #40e7fa; ">@task.TaskStatusName</td>
                            }
                            else if (task.TaskStatusName == "On Hold")
                            {
                                <td style="background-color: purple; color: #fff;">@task.TaskStatusName</td>
                            }
                            else if (task.TaskStatusName == "Canceled")
                            {
                                <td style="background-color: #ffcccc;">@task.TaskStatusName</td>
                            }
                            else
                            {
                                <td>@task.TaskStatusName</td>
                            }
                            <td>@task.UserName</td>
                            <td>
                                <a href="@Url.Action("Edit", "Admin", new { taskId = task.TaskId })" class="btn btn-primary btn-md me-2">Edit</a>
                                <a href="@Url.Action("Delete", "Admin", new { taskId = task.TaskId })" class="btn btn-danger btn-md">Delete</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8" class="text-center fw-bold text-muted">No Records Found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
