<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Task Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="~/favicon.ico" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/ManuallyIncludedLibraries/fontawesome-free-6.4.2-web/css/all.min.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">

            <a href="@Url.Action("Dashboard", User.IsInRole("Admin") ? "Admin" : "Task")" class="nav-link">
                <label class="navbar-brand" style="cursor: pointer;">
                    <img src="~/favicon.ico" style="height: 30px; width: 30px;" alt="Alternate Text" />
                    Task Management System
                </label>
            </a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                </ul>
                <ul class="navbar-nav order-last">
                    @{
                        if (!string.IsNullOrEmpty(User.Identity.Name))
                        {
                            string username = "Username: " + User.Identity.Name;
                            string userRole = "User role: ";
                            if (User.IsInRole("Admin"))
                            {
                                userRole += "Admin";
                            }
                            else
                            {
                                userRole += "Regular User";
                            }

                            <li>
                                <a href="@Url.Action("YourTaskList", "Task")" class="nav-link">
                                    <i class="fas fa-user" style="margin-right: 5px;"></i> @username
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("AllTaskList", "Admin")" class="nav-link">
                                    <i class="fas fa-user-tag" style="margin-right: 5px;"></i> @userRole
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("Logout", "Account")" class="nav-link">
                                    <i class="fas fa-sign-out-alt" style="margin-right: 5px;"></i> Logout
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("Login", "Account")" class="nav-link">
                                    <i class="fas fa-sign-in-alt" style="margin-right: 5px;"></i> Login
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("Register", "Account")" class="nav-link">
                                    <i class="fas fa-user-plus" style="margin-right: 5px;"></i> Register
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

        <span id="successMessage" class="d-none" style="display:none">@TempData["successMessage"]</span>
        <span id="errorMessage" class="d-none" style="display:none">@TempData["errorMessage"]</span>
        <span id="infoMessage" class="d-none" style="display:none">@TempData["infoMessage"]</span>
        <span id="warningMessage" class="d-none" style="display:none">@TempData["warningMessage"]</span>

        <footer>
            <p>&copy; @DateTime.Now.Year - Task Management System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
